.navBar{
    color:blue;
    font-size: 2em;
    background-color: tan;
}
.navListItem{
    padding: 10px 20px 10px 20px;
}
.mainPageBody{
background-color: green;
background-image:url('/mattlinenberger/src/images/KC.jpeg');
}
